CLC_Distribution_TIFFs/
functional_data.py
old_results/
current_notebooks/
old_notebooks/
PAPER_RESULTS/
toy_data_results
Results/
temp/
tif_series/
extracted_tifs/
testing.ipynb
finished_files.txt
.DS_Store
.ipynb_checkpoints/
__pycache__

